In [2]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
import pandas as pd
import string

In [3]:
data = pd.read_csv("emails.csv")
data

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

## Part 1: Analyzing Data

In [3]:
data.iloc[0,0]

"Subject: naturally irresistible your corporate identity  lt is really hard to recollect a company : the  market is full of suqgestions and the information isoverwhelminq ; but a good  catchy logo , stylish statlonery and outstanding website  will make the task much easier .  we do not promise that havinq ordered a iogo your  company will automaticaily become a world ieader : it isguite ciear that  without good products , effective business organization and practicable aim it  will be hotat nowadays market ; but we do promise that your marketing efforts  will become much more effective . here is the list of clear  benefits : creativeness : hand - made , original logos , specially done  to reflect your distinctive company image . convenience : logo and stationery  are provided in all formats ; easy - to - use content management system letsyou  change your website content and even its structure . promptness : you  will see logo drafts within three business days . affordability : your  marketing break - through shouldn ' t make gaps in your budget . 100 % satisfaction  guaranteed : we provide unlimited amount of changes with no extra fees for you to  be surethat you will love the result of this collaboration . have a look at our  portfolio _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ not interested . . . _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _"

In [4]:
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer

In [5]:
data = pd.read_csv("emails.csv")
data

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [6]:
preprocess_data = np.array(data)[:,:-1]
preprocess_data.shape

(5728, 1)

In [7]:
iterable = map(lambda x:" ".join(x[0].split(":")[1:]) , preprocess_data)
result = np.array(pd.DataFrame(np.array([np.array(text) for text in iterable])).iloc[:,0].str.replace("[^\w\s]",""))
result.shape

C:\Users\Berkay\AppData\Local\Temp/ipykernel_12548/2472592296.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  result = np.array(pd.DataFrame(np.array([np.array(text) for text in iterable])).iloc[:,0].str.replace("[^\w\s]",""))

(5728,)

In [8]:
new_data = pd.DataFrame({"text": result, "label":data.iloc[:,-1]})
new_data

                                                   text  label
0      naturally irresistible your corporate identit...      1
1      the stock trading gunslinger  fanny is merril...      1
2      unbelievable new homes made easy  im wanting ...      1
3      4 color printing special  request additional ...      1
4      do not have money  get software cds from here...      1
...                                                 ...    ...
5723   re   research and development charges to gpg ...      0
5724   re   receipts from visit  jim   thanks again ...      0
5725   re   enron case study update  wow  all on the...      0
5726   re   interest  david   please  call shirley c...      0
5727   news   aurora 5  2 update  aurora version 5  ...      0

[5728 rows x 2 columns]

In [9]:
X = np.array(new_data)[:,0]
print(X.shape)

(5728,)

In [11]:
tfv = TfidfVectorizer()
tft = TfidfTransformer(smooth_idf=True,use_idf=True)

In [13]:
res_1 = tfv.fit_transform(X).toarray()
print(res_1.shape)
pd.DataFrame(res_1)

(5728, 37330)

,0,1,2,3,4,5,6,7,8,9,...,37320,37321,37322,37323,37324,37325,37326,37327,37328,37329
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5723,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5724,0.031826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5725,0.114087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5726,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5727,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
cv = CountVectorizer()
cv_res = cv.fit_transform(X).toarray()
pd.DataFrame(cv_res)

,0,1,2,3,4,5,6,7,8,9,...,37320,37321,37322,37323,37324,37325,37326,37327,37328,37329
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5723,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5724,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5725,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
tft_res = tft.fit_transform(cv_res).toarray()
tft_res

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.11408688, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [21]:
cv.get_feature_names_out()[:10]

array(['00', '000', '0000', '000000', '00000000', '0000000000',
       '000000000003619', '000000000003991', '000000000003997',
       '000000000005168'], dtype=object)

In [23]:
pd.DataFrame(tft_res).sum(axis=0)[:10]

0    57.976264
1    27.474312
2     7.342714
3     0.091437
4     0.273928
5     0.076925
6     0.602923
7     0.226322
8     0.215828
9     0.223431
dtype: float64